.link-caption {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.link-icon {
  width: 24px;
}

@media(max-width: 991px) {
  .link-caption {
    display: none;
  }
}

.tag-container {
  display: flex;
  position: relative;
}
.tag-tag {
  transition: 0.3s;
}
.tag-tag:hover {
  color: #fff;
  background-color: #235536;
}
@media(max-width: 991px) {
  .tag-tag {
    font-size: 12px;
    padding-top: 12px;
    white-space: nowrap;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 12px;
  }
}

.work-work {
  gap: 140px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #151515;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  border-bottom-width: 1px;
}
.work-image {
  width: 417px;
  height: 520px;
  object-fit: cover;
}
.work-details {
  flex: 1;
  height: 520px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.work-header {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.work-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.work-text {
  color: rgb(21, 21, 21);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}
.work-text1 {
  color: rgb(21, 21, 21);
  font-size: 24px;
  line-height: 36px;
}
.work-tags {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
@media(max-width: 991px) {
  .work-work {
    gap: 0px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .work-image {
    width: 100%;
  }
  .work-details {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
    justify-content: flex-start;
  }
  .work-header {
    gap: var(--dl-space-space-unit);
  }
  .work-heading {
    align-items: center;
  }
  .work-text {
    font-size: 24px;
    line-height: 21px;
  }
  .work-text1 {
    font-size: 16px;
    line-height: 24px;
  }
}
